/* Start of css Reset default user agent styles */
@import url(normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

figure {
  margin: 0;
}
img {
  max-inline-size: 100%;
  height: 100%;
  object-fit: contain;
}
/* end of css reset */

main {
  font-family: 'Roboto', sans-serif;
  padding: 3em;
}
@media screen and (min-width: 1200px) {
  main {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;
  }
}

.box {
  background-color: peachpuff;
}

/* Css variables */
:root {
  /* typography */
  --heading1-font: 5rem;
  --heading1-height: 6.5rem;
  --heading2-font: 3.2rem;
  --subtittle-font: 1.6rem;
  --subtittle-height: 2.25rem;
  --subtittle-space: 0.1rem;
  --arrow-size: 3rem;
  /* colors */
  --primary-color: #ff4400;
}

@media screen and (min-width: 768px) {
  :root {
    --heading1-font: 6rem;
    --heading1-height: 8rem;
    --heading2-font: 3.8rem;
  }
}

/* Assets images */
/* dish1
https://i.postimg.cc/qR0pRyfB/dish1.png
dish2
https://i.postimg.cc/Wp5sNd5j/dish2.png
dish3
https://i.postimg.cc/hPwgmHF5/dish3.png
dish4
https://i.postimg.cc/MG08hHnC/dish4.png
hero
https://i.postimg.cc/zD21m9fG/hero.png
plate1
https://i.postimg.cc/15g1yJgc/plate1.png
plate2
https://i.postimg.cc/cH1P2my3/plate2.png
plate3
https://i.postimg.cc/rs3bd2dG/plate3.png
plate4
https://i.postimg.cc/Fsk8MzqT/plate4.png
plate5
https://i.postimg.cc/rw63Mc2M/plate5.png
video
https://i.postimg.cc/k5qHRc5H/video.png */

/* Hero section */
.hero-container {
  display: grid;
  /* grid-template-columns: 2fr 3fr; */
  row-gap: 2em;
  align-items: center;
}
.hero-description__tittle {
  margin: 0;
  font-size: var(--heading1-font);
  line-height: var(--heading1-height);
}
.hero-description__text {
  font-size: var(--subtittle-font);
  line-height: var(--subtittle-height);
  letter-spacing: var(--subtittle-space);
}

.primary-button {
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.5em 1.5em;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.bx-right-arrow-alt {
  font-size: var(--arrow-size);
}

.hero-plate-container__img {
  justify-self: center;
}

/* Our services section */
.services__tittle {
  margin-top: 5.2rem;
  text-align: center;
  font-size: var(--heading2-font);
}
.services-grid-container {
  display: grid;
  justify-content: center;
  gap: 2em;
}
.services__video {
  grid-column: 1 / 3;
}

/* Home Menu section */
.menu-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 2em;
}
.plate {
  background-color: rgb(255, 68, 0, 0.2);
  border-radius: 4em 0 4em 0em;
}
.plate:nth-child(even) {
  border-radius: 0em 4em 0em 4em;
}

/* Large screens Media Queries  */
@media screen and (min-width: 768px) {
  /* Hero section */
  .hero-container {
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 100vh;
  }
  .hero-plate-container__img {
    height: 60%;
  }

  /* Our Sevices Section  */
  .services-grid-container {
    grid-template-columns: repeat(4, minmax(75px, 1fr));
  }
  .services__video {
    grid-area: 1 / 1 / 3 / 3;
  }

  /* Home Menu Section */
  .menu-grid-container {
    grid-template-columns: repeat(auto-fit, 224px);
  }
}
